IP_COMANDA=10.108.64.3
PUERTO_COMANDA=5001
PUERTO_ESCUCHA=5004
RETARDO_CICLO_CPU=4
GRADO_DE_MULTIPROCESAMIENTO=2
ALGORITMO_DE_PLANIFICACION=FIFO
ALPHA=0.5
ESTIMACION_INICIAL=5
REPARTIDORES=[7|3,3|5]
FRECUENCIA_DE_DESCANSO=[20,8]
TIEMPO_DE_DESCANSO=[1,2]
PLATOS_DEFAULT=[Milanesa]
IP_APP=10.108.64.4
POSICION_REST_DEFAULT_X=5
POSICION_REST_DEFAULT_Y=5
ARCHIVO_LOG=/home/utnso/tp-2020-2c-breakfastClub/logs/app.log
